<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.geotab.iox.usb.manager" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IoxUSBManager</name>
    <js-module name="IoxUSBManager" src="www/IoxUSBManager.js">
        <clobbers target="cordova.plugins.IoxUSBManager" />
    </js-module>
    <platform name="android">
        <lib-file src="src/android/libs/gson-2.8.5.jar" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IoxUSBManager">
                <param name="android-package" value="android.geotab.ioxusbmanager.IoxUSBManager" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application/activity[@android:name='MainActivity']" target="AndroidManifest.xml">
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" android:resource="@xml/accessory_filter" />
        </config-file>
        <source-file src="src/android/geotab/ioxusbmanager/IoxUSBManager.java" target-dir="src/cordova/geotab/iox/usb/manager/IoxUSBManager" />
        <source-file src="src/android/geotab/ioxusbmanager/USBAccessoryControl.java" target-dir="src/cordova/geotab/iox/usb/manager/USBAccessoryControl" />
        <source-file src="src/android/geotab/ioxusbmanager/IoxUSBReader.java" target-dir="src/cordova/geotab/iox/usb/manager/IoxUSBReader" />
        <source-file src="src/android/geotab/ioxusbmanager/IoxBroadcastReceiver.java" target-dir="src/cordova/geotab/iox/usb/manager/IoxBroadcastReceiver" />
        <source-file src="src/android/geotab/ioxusbmanager/IoxUSBStateManager.java" target-dir="src/cordova/geotab/iox/usb/manager/IoxUSBStateManager" />
        <source-file src="src/android/geotab/ioxusbmanager/ShowToastUtil.java" target-dir="src/cordova/geotab/iox/usb/manager/ShowToastUtil" />
        <source-file src="src/android/geotab/ioxusbmanager/MessageHandler.java" target-dir="src/cordova/geotab/iox/usb/manager/MessageHandler" />
        <source-file src="src/android/geotab/ioxusbmanager/HOSData.java" target-dir="src/cordova/geotab/iox/usb/manager/HOSData" />
        <source-file src="res/xml/accessory_filter.xml" target-dir="res/xml" />
    </platform>
</plugin>